body
{
    background-color: hsl(148, 38%, 91%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box
{
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    width: 600px;
}

.double
{
    display: flex;
    flex-direction: row;
}


.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }